<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Sua Plataforma de estudos online</title>
    <link rel="schortcut icon" href="images/favicon.png" type="image/png">
    
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/page-success.css">

</head>
<body id="page-success">
    <div id="container">
            <div class="background">
                <img src="/images/success-background.svg" alt="">
            </div>

            <div class="center-content">
                <strong>Cadastro Salvo!</strong>
                <p>Tudo certo, seu cadastro está na nossa lista de professores. Agora é só ficar de olho no seu WhatsApp</p>
            
            <div class="logo-success">
                <img src="/images/icons/success-check-icon.svg" alt="">
            </div>
</body>
</html>